
  <div style="background-color:#7289da;">
  <br>
    <h1 style="color:#FFFFFF;text-align:center;"><%= @recipe.title %></h1>
  <br>
  </div>
  <div style="background-color:#1e2124;text-align:center;">
    <br>
    <%= image_tag "#{@recipe.image}" %>
    <h3 style="color:#FFFFFF;">Time to cook: <%= @recipe.ready_in_minutes %></h3>
    <br>
  </div>
  <div style="background-color:#7289da;">
    <br>
        <h2 style="color:#FFFFFF;text-align:center;">Ingredients: </h2>
    <br>
  </div>
  <div style="background-color:#1e2124;">
    <br>
    <% @recipe.extended_ingredients.each do |ingredient| %>
        <p style="color:#FFFFFF;margin-left:20px"><%= ingredient[:name].capitalize %> <%= ingredient[:amount] %> <%= ingredient[:unit] %></p>
    <% end %>
    <br>
  </div>
  <div style="background-color:#7289da;">
    <br>
    <h2 style="background-color:#7289da;color:#FFFFFF;text-align:center;">Instructions: </h2>
    <br>
  </div>
  <div style="background-color:#1e2124;">
    <br>
    <p style="color:#FFFFFF;margin-left:20px;margin-right:20px;"><%= @recipe.instructions %></p>
    <br>
  </div>
</body>