<h3><%= @recipe.title %></h3>
<%= image_tag "#{@recipe.image}" %>
<h5>Time to cook: <%= @recipe.ready_in_minutes %></h5>

<h5>Ingredients: </h5>
<% @recipe.extended_ingredients.each do |ingredient| %>
    <p><%= ingredient[:name] %> <%= ingredient[:amount] %> <%= ingredient[:unit] %></p>
<% end %>
<h5>Instructions: </h5>
<p><%= @recipe.instructions %></p>


<%= button_to "Save to My Recipes",
 "http://babe-whats-for-dinner-be.herokuapp.com/api/v1/user_recipes?uid=#{current_user.uid}&recipe_id=#{@recipe.id}&recipe_name=#{@recipe.title}",
  method: :post %>