  <div style="background-color:#7289da;">
  <br>
    <h1 style="color:#FFFFFF;text-align:center;"><%= @recipe.title %></h1>
  <br>
  </div>
  <div style="background-color:#1e2124;text-align:center;">
    <br>
    <%= image_tag "#{@recipe.image}" %>
    <h3 style="color:#FFFFFF;">Time to cook: <%= @recipe.ready_in_minutes %></h3>
    <br>
  </div>
  <div style="background-color:#7289da;">
    <br>
        <h2 style="color:#FFFFFF;text-align:center;">Ingredients: </h2>
    <br>
  </div>
  <div style="background-color:#1e2124;">
    <br>
    <% @recipe.extended_ingredients.each do |ingr| %>
        <p style="color:#FFFFFF;margin-left:20px"><%= ingr[:amount] %> <%= ingr[:unit] %> <%= ingr[:name] %></p>
    <% end %>
    <br>
  </div>
  <div style="background-color:#7289da;">
    <br>
    <h2 style="background-color:#7289da;color:#FFFFFF;text-align:center;">Instructions: </h2>
    <br>
  </div>
  <div style="background-color:#1e2124;">
    <br>
    <p style="color:#FFFFFF;margin-left:20px;margin-right:20px;"><%= @recipe.instructions %></p>
    <br>
    
<%= button_to "Save to My Recipes", "/user_recipes?uid=#{current_user.uid}&recipe_id=#{@recipe.id}&recipe_name=#{@recipe.title}",
  method: :post %>
<%= button_to "Search New Recipe",discover_index_path, method: :get %>
  
  </div>
</body>
