<!DOCTYPE html>
<html>
  <head>
    <title>BabeWhatsForDinnerFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body style="background-color:#ECF0F1;font-family:gill sans;">  
    <nav>
  
    <%= link_to "Home", root_path %> 
    <%= link_to "Dashboard", dashboard_path %> 
      <% if current_user %>
        <%= link_to "Log Out", logout_path %>
      <% else %>
        <%= link_to "Login with Github", "https://github.com/login/oauth/authorize?client_id=#{@client_id}&scope=repo" %>
      <%end%>

    </nav>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <br>
    <div style="background-color:#AED6F1; color:#283747;">
    <br>
    <h1 style="margin-left:20px;">Babe, What's for Dinner?</h1>
    <br>
    </div>
    <br>
    <%= yield %>
  </body>
</html>
